body {
    margin: 0;
    height: 100%;
    overflow: hidden;
}

#scene-container {
    position: absolute;
    width: 100%;
    height: 100%;
}

.fight {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(5, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
}

.playerPic {
    grid-area: 1 / 1 / 3 / 3;
}

.enemyPic {
    grid-area: 1 / 4 / 3 / 6;
}

.dice {
    grid-area: 3 / 3 / 4 / 4;
    display: block;
    margin: auto;
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 300%;
    font-weight: bolder;
}

.button {
    grid-area: 5 / 3 / 4 / 4;
    display: block;
    margin: auto;
    text-align: center;
    font-size: 30px;
}

.playerState {
    border: solid 3px black;
    grid-area: 3 / 1 / 6 / 3;
}

.playerState>table {
    width: 100%;
    height: 100%;
    font-size: 30px;
}

.enemyState {
    border: solid 3px black;
    grid-area: 3 / 4 / 6 / 6;
}

.enemyState>table {
    width: 100%;
    height: 100%;
    font-size: 30px;
}

img {
    display: block;
    align-self: center;
    margin-left: auto;
    margin-right: auto;
    width: auto;
    max-width: 100%;
}